<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8dade85e-1df4-490e-b6f9-7700c9ff2982/resourceGroups/DefaultResourceGroup-NEU/providers/Microsoft.Web/sites/ReparationsCust</ResourceId>
    <ResourceGroup>DefaultResourceGroup-NEU</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reparationscust.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>reparationscust.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReparationsCust</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ReparationsCust</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Reparation.DAL.OurDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:reparationdbserver2021.database.windows.net,1433;Initial Catalog=ReparationCust_db;User ID=Admin2021@reparationdbserver2021;Password=Aassdd@841621" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Reparation.DAL.OurDbContext, Reparation" MigrationConfiguration="Reparation.Migrations.Configuration, Reparation" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Reparation.DAL.OurDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:reparationdbserver2021.database.windows.net,1433;Initial Catalog=ReparationCust_db;User ID=Admin2021@reparationdbserver2021;Password=Aassdd@841621</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Reparation.DAL.OurDbContext" />
  </ItemGroup>
</Project>